<h1>All Users</h1>
<% @users.each do |user| %>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <%= user.firstName + " " + user.secondName%>
      </h4>
      <small>
        <%= link_to user.email, user_path(user.id) %>
      </small>
    </div>
  </div>
<% end %>
